CLOUDINARY_CLOUD_NAME=dmlq9cxp7
CLOUDINARY_API_KEY=594343734494492
CLOUDINARY_API_SECRET=aY1y52yxe69ji3SVX15M12AdOP0

# Optional: Add your MongoDB URI here to avoid typing it in terminal
# MONGO_URI=mongodb+srv://...
